.search-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--theme-bg-color);
    /*background-color: var(--content-bg);*/
    border-radius: 10px;
}

.search-nav {
    width: 80%;
    height: 10%;
    border-radius: 10px;
    margin: 0 auto 20px;
    background-color: var(--content-bg);
    overflow: auto;
}

.search-main {
    width: 80%;
    height: 90%;
    border-radius: 10px;
    margin: 0 auto 20px;
    background-color: var(--content-bg);
    overflow: auto;
}
.search-exhibit {
    width: 100%;
    justify-content: space-around;
    background-color: var(--content-bg);
    padding-left: 0;
    margin: 0;
    border-radius: 14px;
    border: 1px solid var(--theme-bg-color);
    cursor: pointer;
}

.search-item {
    color: var(--theme-color);
    list-style: none;
    padding: 10px 18px;
    font-size: 16px;
    width: 100%;
    min-height: 40px;
    /*white-space: nowrap;*/
    transition: 0.5s;
    /*line-height: 40px;*/
    text-align: center;
}
.search-item:hover {
    background-color: var(--theme-bg-color);
}
.search-item:hover:first-child {
    border-radius: 13px 13px 0 0;
}
.search-item:hover:last-child {
    border-radius: 0 0 13px 13px;
}
.search-item + li {
    border-top: 1px solid var(--border-color);
}


